<div class="mt-3" *ngFor="let task of tasks;">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title class="flex">
                <h4>{{task.title}}</h4>
                <mdb-badge [color]="color(task.priority)" class='right'>{{task.priority}}</mdb-badge>
            </mdb-card-title>
            <mdb-card-text>
                {{task.todo}}
            </mdb-card-text>
            <div class="flex">
                <a (click)="showMore(task._id)" mdbBtn color="primary" mdbWavesEffect>
                    MORE..
                </a>

                <div class="right mr-2">
                    <div *ngIf="!task.done">
                        <a (click)="changeStatus(task._id)" mdbBtn color="warning" mdbWavesEffect>
                            Pendient
                        </a>
                    </div>
                    <div *ngIf="task.done">
                        <a (click)="changeStatus(task._id)" mdbBtn color="success" mdbWavesEffect>
                            Done
                        </a>
                    </div>
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>